﻿<style>
    .clickcount-result-alignment {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .list-group-item {
        text-align: center;
    }
</style>

@model SenutiSearch.ViewModels.ClickCountViewModel

@{
    ViewData["Title"] = "Click Counts By Result";
}

@if(Model.TrackedClicks.Count == 0)
{
    <h1>No clicks have been tracked yet</h1>
    <p>
        Please return to the <a asp-controller="Home" asp-action="Index">Home</a>
        page to search iTunes. Then click on a result, and return here to see your
        click!
    </p>
}
else
{
    <ul class="list-group">
    @foreach(var click in Model.TrackedClicks)
    {
        // TODO: make img src url, and 'See track in iTunes' href dynamic 
        <li class="list-group-item">
            <dl class="row clickcount-result-alignment">
                <div class="col-sm-4">
                    <dt>Clicks:</dt>
                    <dd>@click.Clicks</dd>
                </div>
                <div class="col-sm-4">
                    <dt>Track Id:</dt>
                    <dd>@click.Id</dd>
                </div>
                <div class="col-sm-4">
                    <dt>Artwork:</dt>
                    <dd><img src="https://is5-ssl.mzstatic.com/image/thumb/Music6/v4/8c/91/5d/8c915d9b-d9e4-f735-1b91-81ca1b6e6312/source/100x100bb.jpg" /></dd>
                </div>
            </dl>
            <a href="#">See track in iTunes</a>
        </li>
    }
    </ul>
}

