﻿<style>
    body {
        background: #FF5F6D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
    main {
        margin-top: 11%
    }
    .form-alignment {
        margin: 0 auto;
        text-align: center;
    }
    #welcome {
        margin-bottom: 7%;
    }
</style>

@model SenutiSearch.Models.Search
@{
    ViewData["Title"] = "SenutiSearch";
}

<div class="text-center">
    <h1 id="welcome" class="display-4">Welcome ReachMobi!</h1>
    <p>SenutiSearch is your one-stop-shop for finding all things in the iTunes store</p>
</div>
<div class="row">
    <div class="col-md-4 form-alignment">
        <form asp-controller="Home" asp-action="IndexPost" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Term" class="col-sm-2 col-form-label">Term</label>
                <div class="col-sm-10">
                    <input asp-for="Term" class="form-control" >
                </div>
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Explicit Content</legend>
                <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isExplicit" id="gridRadios1" value="No" checked>
                    <label class="form-check-label" for="gridRadios1">
                    No
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isExplicit" id="gridRadios2" value="Yes">
                    <label class="form-check-label" for="gridRadios2">
                    Yes
                    </label>
                </div>
                </div>
            </div>
            </fieldset>
            <div class="form-group row">
            <div class="col-sm-10 form-alignment">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            </div>
        </form>
    </div>
</div>
