﻿<style>
    body {
        background: #FF5F6D;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .results-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .result-box {
        box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
        margin: 2% auto;
        text-decoration: none !important;
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@model SenutiSearch.ViewModels.ResultsViewModel
@{
    ViewData["Title"] = "Itunes Results";
}

@if (Model.ApiResponse.Results.Count == 0)
{
    <h1>No results found...</h1>
    <p>
        Please return to the <a asp-controller="Home" asp-action="Index">Home</a>
        page to search iTunes
    </p>
}
else
{
    <div class='results-wrapper'>
    @foreach (var result in Model.ApiResponse.Results)
    {
        // TODO: abstract URL construction to server function 
        var partnerUrl = $"{result.TrackViewUrl}&at={Model.PartnerToken}&ct={Model.CampaignToken}";
        <div class='card result-box' style='width: 18rem;' data-partnerurl='@partnerUrl' rel='nofollow' data-itunesresult='@Html.Raw(Json.Serialize(result))'>
          <h5 class="card-title">Title: @result.TrackName</h5>
          <img class='card-img-top' src='@result.ArtworkUrl100' alt='@result.ArtistName'>
          <div class="card-body">
            <h6 class="card-title">Artist: @result.ArtistName</h6>
            <p class="card-text truncate">Description: @(string.IsNullOrEmpty(result.LongDescription) ? result.CollectionName : result.LongDescription)</p>
          </div>
        </div>
    }
    </div>

    <script>
        (function () {
            var searchTerm = '@Model.SearchTerm';
            // Grab all results, add click event listener to each
            // on click send data to click tracking API
            Array.from(document.querySelectorAll('.result-box')).forEach(function (result) {
                result.addEventListener('click', function (e) {
                    e.preventDefault();
                    var clickedTrackInfo = JSON.parse(e.currentTarget.dataset.itunesresult);
                    var partnerUrl = e.currentTarget.dataset.partnerurl;
                    // TODO: get user ip dynamically
                    var userIp = '0.0.0.0';

                    // FIXME: WARNING mozInputSource is non-standard and experimental
                    // should  not be used in production. Use at own risk
                    // https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/mozInputSource

                    var baseUrl = 'https://senutisearch.azurewebsites.net/recordclick';
                    var queryString = `trackId=${clickedTrackInfo.trackId}&mozInputSource=${e.mozInputSource}&pageX=${e.pageX}&pageY=${e.pageY}&searchTerm=${searchTerm}&timeClicked=${Date.now()}&userIp=${userIp}&userAgent=${navigator.userAgent}`;

                    var sendClickInfo = new XMLHttpRequest();
                    sendClickInfo.open('GET', `${baseUrl}?${queryString}`);
                    sendClickInfo.send();
                    sendClickInfo.addEventListener('load', function () {
                        window.location = partnerUrl;
                    });
                });
            });
        })();
    </script>
}
